PORT=5000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Google OAuth Credentials
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
JWT_SECRET="YOUR_SUPER_SECRET_JWT_SIGNING_KEY"
